[submodule "FreeRTOS/Demo/RISC-V-Generic/demo/servers/Common/FreeRTOS_Modbus_Demos/modcap"]
	path = FreeRTOS/Demo/RISC-V-Generic/demo/servers/Common/FreeRTOS_Modbus_Demos/modcap
	url = git@github.com:dodsonmg/modcap.git
